<br></br>
<%= link_to 'recent_posts', recent_posts_path %>  
<%= link_to 'week_posts', this_week_path %>

<% @microposts.each do |post| %>
	<div class="card col-sm-12 my-auto">		
		<div class="card-header">	  
		    <%= post.content %>	
		    <div style="float:left">  <%= link_to image_tag(post.picture.url,size:"80x60"), micropost_path(post) if post.picture? %></div>		  
		</div>
		<div class="card-body">	      
            <%= link_to "View Profile", micropost_path(post)%>
			<% if post.user == current_user %>
			   <%= link_to "delete",post, method: :delete, data: { confirm: "You sure?" } %>	
			<% end %> 		  
		    <br> 
		     	comments:<%= post.comments.count %> Likes:<%= post.likes.count %>
		</div>	

	    <div class="timestamp">
	     
	     

             created <%= time_ago_in_words(post.created_at) %> ago.
        </div> 
	</div>
<% end %>
 <center> Total Posts:<%= @microposts.count%></center>

    <%= will_paginate @microposts %>